@tailwind base;
@tailwind components;
@tailwind utilities;

/* rimuove le frecce nell'input:number */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
} */
/* finito */

@layer components {
	[type='text'],
	input:where(:not([type])),
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select {
		@apply block transition border-2 rounded-md shadow border-neutral-900 invalid:border-invalid focus:ring-0 focus:outline-0;
	}

	[type='submit'] {
		@apply block px-6 py-3 text-sm font-medium transition rounded-md cursor-pointer bg-neutral-900 text-neutral-100;
	}

	.flash {
		animation: flasha 0.8s ease-in-out;
	}

	@keyframes flasha {
		0% {
			background-color: rgb(212 212 212 / 0.1);
		}
		100% {
			background-color: transparent;
		}
	}
}
